@import "normalize";
@import "default";

html{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 135%;
  font-size: 62.5%;
  color: #403F3E;
  @media all and (max-width: 1100px) {
    font-size: 58%;
  }
}
$maincolor: #6E1F8A;
$maindarkcolor: #57206B;
$px: .0520833333333;
$pxm: 0.130208;
$pxmf: 3.478;
$pxmd: 0.09765625;
$pxmt: 0.130208;
$pxm: 0.2666;

*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
.button{
  background-color: $maincolor;
  padding: 21px 40px;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 6px;
  text-decoration: none;
  display: inline-flex;
  transition: 0.3s;
  &:hover{
    background-color: $maindarkcolor;
  }
}
.container{
  max-width: 1380px;
  padding: 0 100px;
  width: 100%;
  margin: auto;
  @media all and (max-width: 1380px) {
    padding: 0 50px;
  }
  @media all and (max-width: 768px) {
    padding: 0 30px;
  }
  @media all and (max-width: 500px) {
    padding: 0 30px;
  }
  @media all and (max-width: 400px) {
    padding: 0 15px;
  }
}
.container-right{
  width: calc(50% - ((100% - 1180px) / 2));
}
.block-title{
  font-weight: 600;
  font-size: 4rem;
  line-height: 100%;
  color: #222;
}
.block-subtitle{
  margin-top: 21px;
  max-width: 580px;
  font-size: 1.7rem;
  line-height: 2.8rem;
  color: #222222;
}
.breadcrumbs{
  border-bottom: 1px solid #EEEEEE;
  padding-bottom: 14px;
  padding-top: 11px;
  .bx-breadcrumb{
    margin-bottom: 0;
    display: flex;
  }
  .bx-breadcrumb-item{
    margin-bottom: 0;
  }
  span{
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #9B9B9B;
  }
  svg{
    margin-right: 8px;
  }
  a{
    text-decoration: none;
    span{
      color: #222222;
    }
    &:first-child{
      &:before{

      }
    }
  }
}
.header{
  .top-nav{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #EEEEEE;
    &__wrapper{
      display: flex;
      justify-content: space-between;
      &:after, &:before{
        display: none;
      }
    }
    .account{
      display: flex;
      align-items: center;
      .basket-line-block{
        .basket-line-block-icon-cart{
          display: none!important;
        }

      }
      .basket-line-block-icon-profile{
        &:after{
          background-image: url("../../images/account.svg");
        }
      }
      a{
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: #222222;
        text-decoration: none;
        transition: 0.3s;
        font-weight: 500;
        &:hover{
          color: $maincolor;
        }
        svg{
          margin-right: 7px;
        }
      }
    }
    .page-nav{
      .left-menu{
        display: flex;
        li{
          margin-right: 30px;
          padding: 0;
          background-color: transparent;
          background-image: none;
          a{
            font-size: 1.4rem;
            line-height: 1.7rem;
            color: #222222;
            text-decoration: none;
            font-weight: 500;
            transition: 0.3s;
            &:hover{
              color: $maincolor;
            }
          }
        }
      }
    }
  }
  .middle-nav{
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
      margin-right: 112px;
    }
    &__order{
      display: flex;
      margin-left: 43px;
      align-items: center;
      .favorite{
        margin-right: 28px;
      }
      .favorite, .byu{
        position: relative;
        .item__count{
          position: absolute;
          bottom: -2px;
          right: -5px;
          background-color: #86B4B4;
          color: #FFFFFF;
          font-size: 1.1rem;
          line-height: 1.4rem;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 16px;
          height: 16px;
        }
      }
      .status{
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 1.6rem;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        margin-right: 51px;
        span{
          margin-left: 10px;
          transition: 0.3s;
          cursor: pointer;
          &:hover{
            color: $maincolor;
          }
        }
      }
    }
    &__search{
      flex: 1;
      .form{
        @include search_fields;

      }
    }
  }
  .category-nav{
    background-color: #6E1F8A;
    margin-top: 21px;
    .categories__list{
      margin: 0;
    }
    nav{
      ul{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $maincolor;
        h2{
          position: static;
          top: 0;
          left: 0;
          z-index: auto;
          width: 100%;
          margin-bottom: 0;
          > a{
            padding: 14px 14px 11px 14px;
            color: #FFFFFF;
            display: block;
            cursor: pointer;
            width: 100%;
          }
        }
        a{
          font-weight: 500;
          font-size: 1.4rem;
          line-height: 1.7rem;
          color: #222222;
          text-decoration: none;
        }
        > li{
          position: relative;
          &:hover{
            ul{
              display: flex;
            }
          }
          a{
            transition: 0.3s;
            border-bottom: 3px solid transparent;
            &:hover{
              border-bottom: 3px solid #FFFFFF;
            }
          }

          ul{
            background-color: #FFFFFF;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: calc(100% - 3px);
            left: 0;
            display: none;
            border-bottom: none;
            z-index: 10;
            li{
              a{
                color: #222222;
                padding: 15px 11px 15px 15px;
                white-space: nowrap;
                border-left: 1px solid transparent;
                border-bottom: none;
                &:hover{
                  background-color: #F5F5F5;
                  color: $maincolor;
                  border-left: 1px solid $maincolor;
                  border-bottom: none;
                }
              }
            }

          }
          > a{
            padding: 14px 14px 11px 14px;
            color: #FFFFFF;
            display: block;
            cursor: pointer;
          }
        }
      }
    }
  }
}
.product-item-info-container.product-item-hidden{
  display: none!important;
}
.product-item-title{
  overflow: visible;
  white-space: normal;
}
.main-banner{
  position: relative;
  padding: 77px 0 99px 0;
  &__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__wrapper{
    position: relative;
    max-width: 550px;
  }
  &__title{
    font-weight: 600;
    font-size: 4.5rem;
    line-height: 5rem;
    color: #222222;
    z-index: 1;
    position: relative;
    span{
      position: relative;
      &:before{
        position: absolute;
        content: "";
        display: block;
        bottom: 8px;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: #86B4B4;
        z-index: -1;
      }
    }
  }
  &__content{
    margin-top: 21px;
    font-size: 1.7rem;
    line-height: 2.8rem;
    color: #222222;
  }
  &__lnk{
    margin-top: 37px;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.6rem;
    text-transform: uppercase;
    color: $maincolor;
    display: inline-flex;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px solid $maincolor;
  }
}
.categories{
  margin-top: 88px;
  &__sub{

  }
  &__list{
    margin-top: 30px;
    margin-bottom: 0;
  }
  &__container{
    padding-bottom: 70px;
    border-bottom: 1px solid #EEEEEE;
    position: relative;
  }
  &__navigates{
    position: absolute;
    right: 0;
    top: 70px;
    display: flex;
    align-items: center;
    .swiper-button-prev, .swiper-button-next{
      position: static;
      width: 38px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      transition: 0.3s;
      svg{
        path{
          transition: 0.3s;
        }
      }
      &:hover{
        background-color: #6E1F8A;
        svg{
          path{
            fill: #FFFFFF;
          }
        }
      }
      &:after{
        display: none;
      }
    }
    .swiper-button-prev{
      margin-right: 10px;
    }
    .swiper-pagination{
      display: flex;
      align-items: center;
      position: static;
      margin-right: 25px;
      .swiper-pagination-bullet{
        width: 7px;
        height: 7px;
        border-radius: 50px;
        margin: 0 9px;
        transition: 0.3s;
        &.swiper-pagination-bullet-active{
          width: 13px;
          height: 13px;
          margin: 0 6px;
          background-color: #6E1F8A;
        }
      }
    }
  }
  &__item{
    position: relative;
    height: 359px!important;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 0!important;
    &:before{
      background: linear-gradient(45deg, #7B209C 0%, rgba(123, 32, 156, 0) 100%);
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
      pointer-events: none;
      opacity: 0;
      transition: 0.3s;
    }
    &:hover{
      &:before{
        opacity: 1;
      }
    }
    &-img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important;
      border: none!important;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover!important;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    &-title{
      position: absolute;
      bottom: 21px;
      left: 27px;
      font-weight: 600;
      font-size: 2.7rem;
      line-height: 3.3rem;
      color: #FFFFFF;
      z-index: 3;
      a{
        color: white;
      }
    }
  }
}
.samples{
  padding-top: 79px;
  padding-bottom: 60px;
  &__title{

  }
  &__list{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item{
    width: 25%;
    padding-right: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 40px;
    &:hover{
      .samples__desc{
        color: $maincolor;
        text-shadow: 0 0 1px black;
      }
      .samples__img{
        path{
          stroke: $maincolor;
        }
      }
    }
  }
  &__desc{
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #222222;
    transition: 0.3s;
  }
  &__img{
    width: 80px;
    height: auto;
    margin-right: 25px;
    path{
      transition: 0.3s;
    }
  }
}
.range{
  padding-top: 88px;
  background-color: #F5F5F5;
  padding-bottom: 48px;
  &:after{
    float: none;
    clear: both;
    content: "";
    display: block;
  }
  &__list{

  }
  &__item{
    float: left;
    text-decoration: none;
    &:first-child{
      width: 32%;
      margin-right: 20px;
      padding-top: 43px;
      .range__desc{
        margin-top: -30px;
        width: calc(100% - 46px);
      }
    }
    &:nth-child(2), &:nth-child(4){
      width: 41%;
      margin-right: 20px;
      margin-top: 0;
    }
    &:nth-child(2){
      margin-top: 43px;
      .range__desc{
        width: calc(100% - 69px);
      }
    }
    &:nth-child(3), &:nth-child(5){
      width: calc(27% - 40px);
    }
    &:nth-child(3){
      margin-top: -32px;
      margin-bottom: 6px;
      .range__desc{
        width: calc(100% - 18px);
        margin-top: -60px;
      }
    }
    &:nth-child(4){
      .range__desc{
        width: calc(100% - 69px);
      }
    }
    &:nth-child(5){
      .range__desc{
        width: calc(100% - 20px);
      }
    }
  }
  &__img{
    max-width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    img{
      max-width: 100%;
      height: auto;
      width: 100%;
    }
  }
  &__desc{
    margin-top: -36px;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 2.6rem;
    color: #222222;
    padding: 12px 19px 9px 0;
    background: #F5F5F5;
    border-radius: 0px 6px 0px 0px;
    position: relative;
  }
}
.sample-order{
  padding-top: 88px;
  padding-bottom: 100px;
  &__list{
    margin-top: 62px;
    display: flex;
    justify-content: space-between;
  }
  &__item{
    width: calc(33.33333% - (40px / 3));
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
  &__arrow{
    position: absolute;
    top: 0;
    right: 0;
  }
  &__digit{
    font-weight: 900;
    font-size: 12rem;
    line-height: 84px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #D8DEEC;
    display: inline-block;
    margin-left: 30px;
  }
  &__icon{
    margin-left: -30px;
  }
  &__content{
    margin-top: -50px;
    width: 100%;
    padding: 76px 30px 26px 30px;
    background-color: #F5F5F5;
    border-radius: 10px;
    z-index: -1;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 2.6rem;
    color: #222222;
    min-height: 180px;
  }
}
.suppliers{
  background-color: #D8DEEC;
  &__container{
    display: flex;
  }
  &__img{
    width: 50%;
    position: relative;
    &:after{
      position: absolute;
      content: "";
      display: block;
      background: linear-gradient(90deg, #D8DEEC 27.05%, rgba(216, 222, 236, 0) 100%);
      transform: matrix(-1, 0, 0, 1, 0, 0);
      right: 0;
      top: 0;
      width: 371px;
      height: 100%;
    }
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__wrapper{
    padding-top: 88px;
    padding-bottom: 100px;
    padding-left: 54px;
  }
  &__lnk{
    margin-top: 38px;
  }
}
.control{
  padding-top: 88px;
  padding-bottom: 100px;
  &__subtitle{
    max-width: 540px;
  }
  &__list{
    display: flex;
    justify-content: space-between;
    margin-right: -20px;
    margin-top: 42px;
    align-items: flex-start;
  }
  &__item{
    margin-right: 20px;
    width: calc(100% / 6);
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 18px 20px;
  }
  &__top{
    margin-right: -20px;
    width: calc(100% + 20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__image{
    display: flex;
    align-items: center;
    &:before{
      content: "";
      display: block;
      width: 58px;
      height: 58px;
      border-radius: 50%;
      background-color: #FFFFFF;
      margin-right: -28px;
    }
  }
  &__arrow{
    padding: 4px 5px;
    background-color: #FFFFFF;
  }
  &__content{
    font-size: 1.4rem;
    line-height: 2rem;
    color: #222222;
    margin-top: 16px;
    font-weight: 400;
  }
}
.footer{
  background-color: #222222;
  padding-top: 62px;
  #sender-subscribe, #subscribe-form{
    width: 55%;
    display: flex;
  }
  &__container{

  }
  &__top{
    display: flex;
  }
  &__logo{
    margin-right: 98px;
  }
  &__subscribe{
    display: flex;
    &-desc{
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2.3rem;
      color: #FFFFFF;
      margin-right: 20px;
      width: 45%;
    }
  }
  .footer__subscribe-send{
    padding: 16px 20px;
    margin-left: 6px;
    border: none;
  }
  input[type="text"]{
    min-width: 334px;
    padding: 14px 18px;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #FFFFFF;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    background-color: transparent;
    &::placeholder{
      color: #FFFFFF;
    }
  }
  &__nav{
    margin-top: 58px;
    padding-bottom: 43px;
    nav{
      display: flex;
      width: 100%;
      justify-content: space-between;
      ul{
        margin-right: 43px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &:last-child{
          margin-right: 0;
        };

        li{
          &:nth-child(even){
            margin-right: 69px;
          };
          margin-bottom: 17px;
          &:first-child{
            margin-bottom: 29px;
            width: 100%;
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 1.7rem;
            text-transform: uppercase;
            color: #FFFFFF;
          }
          a{
            font-size: 1.4rem;
            line-height: 100%;
            letter-spacing: 0.01em;
            color: #B3B3B3;
            font-weight: 400;
            text-decoration: none;
          }
        }
        &:nth-child(2){
          margin-right: 109px;
          li{
            width: 100%;
            margin-right: 0;
          }
        }
      }
    }
  }
  &__copyright{
    padding: 14px 20px 18px 20px;
    border-top: 1px solid rgba(255,255,255,0.1);
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
  }
}
.page-search-result{
  margin-top: 40px;
  @include customtable;
  form{
    @include search_fields;
  }
}
.about-page{
  padding-top: 60px;
  &__wrapper{
    position: relative;
    margin-bottom: 198px;
    margin-top: 31px;
  }
  &__text{
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    padding: 20px 102px 20px 80px;
    filter: drop-shadow(0px 0px 9px rgba(0, 0, 0, 0.2));
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 26px;
    color: #222222;
    z-index: 10;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .city{
      margin-bottom: 18px;
    }
    a{
      margin-bottom: 18px;
      color: #222222;
      &:last-child{
        margin-bottom: 0;
      }
      svg{
        margin-right: 20px;
      }
    }
    &-soc{
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
      border-top: 1px solid #9B9B9B;
      margin-top: 40px;
      a{
        margin-bottom: 0;
      }
      svg{
        margin: 0;
      }
    }
  }
  &__map{
    height: 420px;
    width: 100%;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrixtype=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    -webkit-filter: grayscale(70%);
    transition: 0.3s;
    &:hover{
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrixtype=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
      -webkit-filter: grayscale(0);
    }
  }
  &__title{
    img{
      margin-right: 40px;
    }
  }
  &:last-child{
    .about-page__content{
      border-bottom: none;
    }
  }
  &__content{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 60px;
    border-bottom: 1px solid #EEEEEE;
    p, li{
      font-weight: 300;
      font-size: 1.5rem;
      line-height: 26px;
      color: #222222;
      margin-bottom: 14px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    ul{
      padding-left: 5px;
    }
    li:before {
      content:  "-";
      position: relative;
      left:     -5px;
    }
  }
  &__column{
    width: calc(50% - 24px);
  }
}
.catalog-page{
  margin-top: 20px;
  &__title{
    font-weight: 600;
    font-size: 4rem;
    line-height: 49px;
    color: #222222;
  }
  .product-item{
    box-shadow: none!important;
    position: static!important;
    padding: 0!important;
    border-radius: 8px;
    overflow: hidden;
    .product-item-image-wrapper{
      padding-top: 100%;
    }
  }
  .product-item-container{
    height: auto!important;
    position: relative;
    .favor{
      position: absolute;
      right: 12px;
      top: 12px;
      z-index: 40;
      cursor: pointer;
      &:hover{
        rect{
          fill: #6E1F8A;
          fill-opacity: 1;
        }
      }
      &.active{
        path{
          fill: #FFFFFF;
        }
      }
    }
  }
  .product-item-title{
    overflow: visible!important;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 20px;
    color: #222222;
  }
}
.account-page{
  &__container{

  }
  &__content{
    width: 100%;
  }
  &__header{
    display: flex;
    align-items: center;
    margin-bottom: 31px;
    .name{
      font-weight: 600;
      font-size: 2rem;
      line-height: 24px;
      color: #222222;
      padding-right: 30px;
      border-right: 1px solid #EEEEEE;
      margin-right: 30px;
    }
    .email{
      display: flex;
      align-items: center;
      svg{
        margin-right: 7px;
      }
      font-size: 1.5rem;
      line-height: 18px;
      color: #222222;
    }
    .cont{
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .logout{
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 20px;
        color: #9B9B9B;
        svg{
          margin-right: 8px;
        }
      }
      .balance{
        //margin-right: 33px;
        display: flex;
        align-items: center;
        padding: 19px;
        background-color: #D8DEEC;
        svg{
          margin-right: 11px;
        }
        .wallet{
          display: flex;
          flex-direction: column;
          &__num{
            font-weight: 600;
            font-size: 1.5rem;
            line-height: 18px;
            color: #222222;
          }
          &__points{
            margin-top: 2px;
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 17px;
            text-align: center;
            color: #FFFFFF;
            background-color: #86B4B4;
            border-radius: 3px;
            padding: 1px 4px;
          }
        }
      }
    }
  }
  &__tabs{
    display: flex;
  }
  &__tab{
    padding: 10px 17px;
    color: #222222;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 17px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #222222;
    margin-right: 10px;
    cursor: pointer;
    .account-page__tab-link{
      padding: 0;
      color: #000000;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 17px;
      text-align: center;
    }
    &:last-child{
      margin-right: 0;
    }
    &.tab-active{
      background-color: #222222;
      color: white;
    }
  }
  &__result{
    margin-top: 77px;
    .header-line{
      display: flex;
      justify-content: space-between;
      .left{
        display: flex;
        align-items: center;
        svg{
          margin-right: 9px;
        }
        .item-title{
          font-weight: 600;
          font-size: 2rem;
          line-height: 24px;
          color: #222222;
        }
      }
      .right{
        a{
          display: flex;
          align-items: center;
          padding: 8px 16px;
          font-weight: 600;
          font-size: 1.2rem;
          line-height: 15px;
          text-transform: uppercase;
          color: #6E1F8A;
          border: 1px solid #6E1F8A;
          border-radius: 4px;
          svg{
            margin-right: 7px;
          }
        }
      }
    }
    .content-line{
      margin-top: 22px;
      .content-lin__row{
        p{
          font-weight: 500;
          font-size: 1.4rem;
          line-height: 20px;
          color: #6E1F8A;
          padding-bottom: 0;
          display: inline-block;
          border-bottom: 1px solid rgba(110,31,138,0.15);
        }
        padding: 17px 32px;
        border: 1px solid #EEEEEE;
        box-sizing: border-box;
        border-bottom: none;
        &:last-child{
          border-bottom: 1px solid #EEEEEE;;
        }
      }
    }
  }
}
.producers-page{
  &__container{

  }
  &__title{
    margin-top: 60px;
  }
  &__content{
    margin-top: 60px;
    .news-list{
      &__item{
        border-bottom: 1px solid #EEEEEE;
        padding: 40px 0;
        display: flex;
        align-items: flex-start;
        &:last-child{
          border: none!important;
        }
        a{
          display: flex;
          justify-content: center;
          align-items: center;
          float: none;
          height: 100%;
          width: 100%;
        }
        &:last-child{
          border-bottom: none;
        }
        &-desc{
          .full{
            display: none;
          }
          p{
            margin-bottom: 10px;
            a{
              text-align: left;
              font-weight: 600;
              font-size: 1.7rem;
              line-height: 20px;
              color: #222222;
              b{
                width: 100%;
                text-align: left;
                font-weight: 600;
                font-size: 1.7rem;
                line-height: 20px;
                color: #222222;
                margin-bottom: 0;
              }
            }
          }
          width: calc(100% - 300px);

          .shov-more{
            text-align: right;
            font-size: 1.5rem;
            line-height: 18px;
            color: #6E1F8A;
            font-weight: 400;
            cursor: pointer;
            &.showed{
              svg{
                transform: rotate(180deg);
              }
            }
            svg{
              margin-left: 4px;
              margin-bottom: 2px;
            }
          }
          .part, .full{
            padding-right: 214px;
          }
          div{
            font-weight: 300;
            font-size: 1.5rem;
            line-height: 26px;
            color: #222222;
          }
        }
        &-img{
          width: 200px;
          height: auto;
          margin-right: 100px;
          text-align: center;
          img{
            width: auto;
            height: auto;
            float: none;
            margin: 0;
            max-width: 100%;
          }
        }
      }
    }
    .news-item{
      margin-right: 30px;
      margin-bottom: 30px;
      br{
        display: none;
      }
      .preview_picture{
        width: 100px;
        height: auto;
        margin-right: 30px;
      }
      a{
        font-size: 1.3rem;
        line-height: 20px;
        color: #222222;
        font-weight: 400;
        b{
          font-weight: 500;
          font-size: 1.6rem;
          line-height: 1.7rem;
          color: #6e1f8a;
          margin-bottom: 10px;
          display: block;
        }
      }
    }
  }
}
.modern-page-navigation{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 21px;
  color: #222222;
  padding: 0!important;
  margin-bottom: 100px;
  span, a{
    border: none!important;
    padding: 0!important;
  }
  a{
    margin: 0 15px;
  }
  span{
    margin: 0 4px;
  }
  .modern-page-next{
    margin-left: 64px;
    color: #222222;
    svg{
      margin-left: 11px;
    }
  }
  .modern-page-previous{
    margin-right: 64px;
    color: #222222;
    svg{
      margin-right: 11px;
    }
  }
  .modern-page-current{
    background-color: #6E1F8A;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
}
.show-more{
  background-color: #F5F5F5;
  border-radius: 6px;
  display: flex;
  padding: 19px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 36px;
  transition: 0.3s;
  svg{
    path{
      transition: 0.3s;
    }
  }
  &:hover{
    background-color: #6E1F8A;
    color: white;
    svg{
      path{
        fill: white;
      }
    }
  }
  svg{
    margin-right: 11px;
  }
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #6E1F8A;
}
#delivery-result{
  margin-top: 31px;
}
.private-result{
  margin-bottom: 198px;
}
.result-page{
  margin-bottom: 259px;
}
.orders-page{
  margin-bottom: 170px;
  .emtpy{
    margin-top: 40px;
  }

  .content-line-header{
    background: #F5F5F5;
    border-radius: 6px 6px 0px 0px;
    > div{
      padding: 9px 15px;
      font-weight: 600!important;
      font-size: 1.3rem;
      line-height: 16px;
      text-transform: uppercase;
      color: #222222;
      font-family: 'Montserrat', sans-serif;
    }
  }
  .content-line__item{
    border-bottom: 1px solid #EEEEEE;
    > div{
      padding: 15px;
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 20px;
      color: #222222;
      font-family: 'Montserrat', sans-serif;
    }
    display: flex;
    .content-line__item-type{
      width: 25%;
      font-weight: 500;
    }
    .content-line__item-order{
      width: 21%;
    }
    .content-line__item-date{
      width: 20%;
    }
    .content-line__item-status{
      width: 34%;
      .sale-order-list-status-alert{
        padding: 0;
        svg{
          margin-right: 9px;
        }
      }
    }
  }
  .right{
    display: flex;
    .filter-wrapper{
      margin-left: 36px;
      font-weight: normal;
      font-size: 1.5rem;
      line-height: 18px;
      color: #9B9B9B;
      font-family: 'Montserrat', sans-serif;
      select{
        border: none;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 18px;
        font-family: 'Montserrat', sans-serif;
        color: #222222;
      }
    }
  }
  .content-line__item-status{
    display: flex;
    justify-content: space-between;
  }
  .sale-order-list-status-alert{
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 20px;
    color: #FF9900;
  }
  .invoice{
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 15px;
    text-transform: uppercase;
    color: #6E1F8A;
    padding: 9px 15px;
    border: 1px solid #6E1F8A;
    border-radius: 4px;
    margin-left: 30px;
  }

}
.delivery{
  .delivery__header{
    max-width: 650px;
    position: relative;
    padding-left: 30px;
    svg{
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: auto;
    }
    p{
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 24px;
      color: #222222;
      font-family: 'Montserrat', sans-serif;
      margin: 0;
    }
  }
  &__content{
    margin-top: 55px;
    margin-bottom: 179px;
  }
  &__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg{
      margin-right: 8px;
    }
    &-value{
      font-weight: 600;
      font-size: 2rem;
      line-height: 24px;
      color: #222222;
      font-family: 'Montserrat', sans-serif;
      display: flex;
      align-items: center;
    }
    &-add{
      display: flex;
      align-items: center;
      padding: 7px 18px;
      border: 1px solid #6E1F8A;
      border-radius: 4px;
      font-weight: 600;
      font-size: 1.2rem;
      line-height: 15px;
      text-transform: uppercase;
      color: #6E1F8A;
      cursor: pointer;
    }
  }
  &__list{
    margin-top: 22px;
    .table-head{
      background: #F5F5F5;
      border-radius: 6px 6px 0 0;
    }
    .table-content{
      .table__row{
        border-bottom: 1px solid #EEEEEE;
      }

    }
    .table__row{
      display: flex;
      align-items: center;
      .table__data{
        padding: 15px;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 20px;
        color: #222222;
        &.delivery-edit{
          svg{
            cursor: pointer;
          }
        }
        &:first-child{
          width: 45%;
        }
        &:nth-child(2){
          width: 45%;
        }
        &:last-child{
          width: 10%;
          text-align: right;
        }
      }
    }
  }
}
.bx-filter.bx-blue .bx-filter-section{
  background-color: transparent;
}
.custom-filter{
  position: relative;
  padding-right: 200px;
  .show-more-js{
    position: absolute;
    margin: 22px 0 0;
    top: 0;
    right: 0;
    width: 180px;
    padding: 10px 17px 11px 17px;
    background: #F5F5F5;
    border-radius: 6px;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 15px;
    text-transform: uppercase;
    color: #6E1F8A;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    svg{
      margin-right: 12px;
    }
  }
  .bx-filter-parameters-box-container{
    display: flex;
    align-items: center;
    .btn-themes{
      display: none;
    }
    .bx-filter-popup-result{
      border: none;
      bottom: 0;
      min-height: auto;
      margin-top: 0;
      padding: 0;
      margin-left: 0;
    }
    .show-result, .btn-link{
      font-weight: 600;
      font-size: 1.3rem;
      line-height: 16px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      padding: 11px 17px;
      display: block;
      background: #6E1F8A;
      border-radius: 5px;
      margin-right: 25px;
      border: none;
      text-decoration: none;
    }
  }
  &__row{
    display: flex;
    flex-wrap: wrap;
    margin: 22px 0 0 0;

    .dropdown-wrapper{
      margin-right: 20px;
      width: calc(16.666% - 16px);
      margin-bottom: 22px;
      .bx-filter-select-container{
        border: none;
        border-bottom: 1px solid #222222;;
        border-top: 1px solid #222222;
        height: auto;
      }
      .bx-filter-select-arrow{
        height: 100%;
      }
      .bx-filter-select-block{
        height: auto;
        .bx-filter-select-text{
          font-weight: 600;
          font-size: 1.2rem;
          line-height: 15px;
          text-transform: uppercase;
          color: #222222;
          display: flex;
          align-items: center;
          height: auto;
          padding: 15px 0;
        }
        padding-left: 0;
      }
    }
    .radio-wrapper{
      width: 100%;
      display: flex;
      justify-content: flex-start;
      margin-bottom: 35px;
      padding: 0;
      .bx-filter-param-label{
        padding-left: 0;
      }
      .radio{
        margin: 0 10px;
        &:first-child{
          margin-left: 0;
        }
        &:last-child{
          margin-right: 0;
        }
      }
      .bx-filter-param-text{
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 17px;
        color: #222222;
        padding: 10px 17px;
        border: 1px solid #222222;
        box-sizing: border-box;
        border-radius: 6px;
        cursor: pointer;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -khtml-user-select: none;    /* Konqueror */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* Internet Explorer/Edge */
        user-select: none;
        transition: 0.3s;
        &:hover{
          color: white;
          background-color: #222222;
        }
      }
      input[type="radio"]{
        display: none;
        &:checked ~ .bx-filter-param-text{
          color: white;
          background-color: #222222;
        }
      }
    }
    .bx-filter-parameters-box{

    }
  }
  .container-fluid{
    padding: 0;
  }
}
.interview{
  max-width: 780px;
  margin: 50px auto 100px auto;
  span{
    display: block;
  }
  label{
    display: inline-block;
  }
  &__title{
    font-weight: 600;
    font-size: 4rem;
    line-height: 49px;
    color: #222222;
  }
  &__desc{
    margin-top: 13px;
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 26px;
    color: #222222;
    margin-bottom: 34px;

  }
  .vote-answers-list, .voting-result-box{
    margin-top: 23px;
    padding-bottom: 34px;
    .vote-item-vote{
      margin-bottom: 10px;
      margin-left: 0;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none;   /* Chrome/Safari/Opera */
      -khtml-user-select: none;    /* Konqueror */
      -moz-user-select: none;      /* Firefox */
      -ms-user-select: none;       /* Internet Explorer/Edge */
      user-select: none;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .vote-form-box-button{
    input[type="submit"]{
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 16px;
      text-transform: uppercase;
      color: #FFFFFF;
      border: none;
      background: #6E1F8A;
      border-radius: 6px;
      padding: 21px 64px;
    }
  }
  .vote-item-header{
    font-weight: 600;
    font-size: 2rem;
    line-height: 24px;
    color: #222222;
    h2{
      font-weight: 600;
      font-size: 2rem;
      line-height: 24px;
      color: #222222;
      padding-top: 41px;
      border-top: 1px solid #EEEEEE;
    }
  }
  .voting-form-box{
    border: none;

  }
  .vote-item-vot{
    margin: 0;
  }
  .vote-answer-item-radio{
    display: inline-block;
    margin-bottom: 10px;
    input{
      display: none;
      &:checked ~ label{
        background: #222222;
        color: white;
      }
    }
    label{
      border: 1px solid #222222;
      border-radius: 6px;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 17px;
      color: #222222;
      padding: 10px 17px;
    }
  }
}