@import "normalize";
@import "default";

html{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 135%;
  font-size: 62.5%;
  color: #403F3E;
  @media all and (max-width: 1100px) {
    font-size: 58%;
  }
}
$maincolor: #6E1F8A;
$maindarkcolor: #57206B;
$px: .0520833333333;
$pxm: 0.130208;
$pxmf: 3.478;
$pxmd: 0.09765625;
$pxmt: 0.130208;
$pxm: 0.2666;

*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
.button{
  background-color: $maincolor;
  padding: 21px 40px;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 6px;
  text-decoration: none;
  display: inline-flex;
  transition: 0.3s;
  &:hover{
    background-color: $maindarkcolor;
  }
}
.container{
  max-width: 1380px;
  padding: 0 100px;
  width: 100%;
  margin: auto;
  @media all and (max-width: 1380px) {
    padding: 0 50px;
  }
  @media all and (max-width: 768px) {
    padding: 0 30px;
  }
  @media all and (max-width: 500px) {
    padding: 0 30px;
  }
  @media all and (max-width: 400px) {
    padding: 0 15px;
  }
}
.container-right{
  width: calc(50% - ((100% - 1180px) / 2));
}
.block-title{
  font-weight: 600;
  font-size: 4rem;
  line-height: 100%;
  color: #222;
}
.block-subtitle{
  margin-top: 21px;
  max-width: 580px;
  font-size: 1.7rem;
  line-height: 2.8rem;
  color: #222222;
}
.header{
  .top-nav{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #EEEEEE;
    &__wrapper{
      display: flex;
      justify-content: space-between;
    }
    .account{
      display: flex;
      align-items: center;
      .basket-line-block{
        .basket-line-block-icon-cart{
          display: none!important;
        }

      }
      .basket-line-block-icon-profile{
        &:after{
          background-image: url("../../images/account.svg");
        }
      }
      a{
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: #222222;
        text-decoration: none;
        transition: 0.3s;
        font-weight: 500;
        &:hover{
          color: $maincolor;
        }
        svg{
          margin-right: 7px;
        }
      }
    }
    .page-nav{
      .left-menu{
        display: flex;
        li{
          margin-right: 30px;
          padding: 0;
          background-color: transparent;
          background-image: none;
          a{
            font-size: 1.4rem;
            line-height: 1.7rem;
            color: #222222;
            text-decoration: none;
            font-weight: 500;
            transition: 0.3s;
            &:hover{
              color: $maincolor;
            }
          }
        }
      }
    }
  }
  .middle-nav{
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
      margin-right: 112px;
    }
    &__order{
      display: flex;
      margin-left: 43px;
      align-items: center;
      .favorite{
        margin-right: 28px;
      }
      .favorite, .byu{
        position: relative;
        .item__count{
          position: absolute;
          bottom: -2px;
          right: -5px;
          background-color: #86B4B4;
          color: #FFFFFF;
          font-size: 1.1rem;
          line-height: 1.4rem;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 16px;
          height: 16px;
        }
      }
      .status{
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 1.6rem;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        margin-right: 51px;
        span{
          margin-left: 10px;
          transition: 0.3s;
          cursor: pointer;
          &:hover{
            color: $maincolor;
          }
        }
      }
    }
    &__search{
      flex: 1;
      .form{
        @include search_fields;

      }
    }
  }
  .category-nav{
    background-color: #6E1F8A;
    margin-top: 21px;
    nav{
      ul{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $maincolor;
        a{
          font-weight: 500;
          font-size: 1.4rem;
          line-height: 1.7rem;
          color: #222222;
          text-decoration: none;
        }
        > li{
          position: relative;
          &:hover{
            ul{
              display: flex;
            }
          }
          a{
            transition: 0.3s;
            border-bottom: 3px solid transparent;
            &:hover{
              border-bottom: 3px solid #FFFFFF;
            }
          }

          ul{
            background-color: #FFFFFF;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: calc(100% - 3px);
            left: 0;
            display: none;
            border-bottom: none;
            z-index: 10;
            li{
              a{
                color: #222222;
                padding: 15px 11px 15px 15px;
                white-space: nowrap;
                border-left: 1px solid transparent;
                border-bottom: none;
                &:hover{
                  background-color: #F5F5F5;
                  color: $maincolor;
                  border-left: 1px solid $maincolor;
                  border-bottom: none;
                }
              }
            }

          }
          > a{
            padding: 14px 14px 11px 14px;
            color: #FFFFFF;
            display: block;
            cursor: pointer;
          }
        }
      }
    }
  }
}
.main-banner{
  position: relative;
  padding: 77px 0 99px 0;
  &__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__wrapper{
    position: relative;
    max-width: 550px;
  }
  &__title{
    font-weight: 600;
    font-size: 4.5rem;
    line-height: 5rem;
    color: #222222;
    z-index: 1;
    position: relative;
    span{
      position: relative;
      &:before{
        position: absolute;
        content: "";
        display: block;
        bottom: 8px;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: #86B4B4;
        z-index: -1;
      }
    }
  }
  &__content{
    margin-top: 21px;
    font-size: 1.7rem;
    line-height: 2.8rem;
    color: #222222;
  }
  &__lnk{
    margin-top: 37px;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.6rem;
    text-transform: uppercase;
    color: $maincolor;
    display: inline-flex;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px solid $maincolor;
  }
}
.categories{
  margin-top: 88px;
  &__sub{

  }
  &__list{
    margin-top: 30px;
  }
  &__container{
    padding-bottom: 100px;
    border-bottom: 1px solid #EEEEEE;
  }
  &__item{
    position: relative;
    height: 359px!important;
    border-radius: 10px;
    overflow: hidden;
    &:before{
      background: linear-gradient(45deg, #7B209C 0%, rgba(123, 32, 156, 0) 100%);
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
      pointer-events: none;
      opacity: 0;
      transition: 0.3s;
    }
    &:hover{
      &:before{
        opacity: 1;
      }
    }
    &-img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    &-title{
      position: absolute;
      bottom: 21px;
      left: 27px;
      font-weight: 600;
      font-size: 2.7rem;
      line-height: 3.3rem;
      color: #FFFFFF;
      z-index: 3;
    }
  }
}
.samples{
  padding-top: 79px;
  padding-bottom: 60px;
  &__title{

  }
  &__list{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item{
    width: 25%;
    padding-right: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 40px;
    &:hover{
      .samples__desc{
        color: $maincolor;
        text-shadow: 0 0 1px black;
      }
      .samples__img{
        path{
          stroke: $maincolor;
        }
      }
    }
  }
  &__desc{
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #222222;
    transition: 0.3s;
  }
  &__img{
    width: 80px;
    height: auto;
    margin-right: 25px;
    path{
      transition: 0.3s;
    }
  }
}
.range{
  padding-top: 88px;
  background-color: #F5F5F5;
  padding-bottom: 48px;
  &:after{
    float: none;
    clear: both;
    content: "";
    display: block;
  }
  &__list{

  }
  &__item{
    float: left;
    text-decoration: none;
    &:first-child{
      width: 32%;
      margin-right: 20px;
      padding-top: 43px;
      .range__desc{
        margin-top: -30px;
        width: calc(100% - 46px);
      }
    }
    &:nth-child(2), &:nth-child(4){
      width: 41%;
      margin-right: 20px;
      margin-top: 0;
    }
    &:nth-child(2){
      margin-top: 43px;
      .range__desc{
        width: calc(100% - 69px);
      }
    }
    &:nth-child(3), &:nth-child(5){
      width: calc(27% - 40px);
    }
    &:nth-child(3){
      margin-top: -32px;
      margin-bottom: 6px;
      .range__desc{
        width: calc(100% - 18px);
        margin-top: -60px;
      }
    }
    &:nth-child(4){
      .range__desc{
        width: calc(100% - 69px);
      }
    }
    &:nth-child(5){
      .range__desc{
        width: calc(100% - 20px);
      }
    }
  }
  &__img{
    max-width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    img{
      max-width: 100%;
      height: auto;
      width: 100%;
    }
  }
  &__desc{
    margin-top: -36px;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 2.6rem;
    color: #222222;
    padding: 12px 19px 9px 0;
    background: #F5F5F5;
    border-radius: 0px 6px 0px 0px;
    position: relative;
  }
}
.sample-order{
  padding-top: 88px;
  padding-bottom: 100px;
  &__list{
    margin-top: 62px;
    display: flex;
    justify-content: space-between;
  }
  &__item{
    width: calc(33.33333% - (40px / 3));
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
  &__arrow{
    position: absolute;
    top: 0;
    right: 0;
  }
  &__digit{
    font-weight: 900;
    font-size: 12rem;
    line-height: 84px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #D8DEEC;
    display: inline-block;
    margin-left: 30px;
  }
  &__icon{
    margin-left: -30px;
  }
  &__content{
    margin-top: -50px;
    width: 100%;
    padding: 76px 30px 26px 30px;
    background-color: #F5F5F5;
    border-radius: 10px;
    z-index: -1;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 2.6rem;
    color: #222222;
    min-height: 180px;
  }
}
.suppliers{
  background-color: #D8DEEC;
  &__container{
    display: flex;
  }
  &__img{
    width: 50%;
    position: relative;
    &:after{
      position: absolute;
      content: "";
      display: block;
      background: linear-gradient(90deg, #D8DEEC 27.05%, rgba(216, 222, 236, 0) 100%);
      transform: matrix(-1, 0, 0, 1, 0, 0);
      right: 0;
      top: 0;
      width: 371px;
      height: 100%;
    }
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__wrapper{
    padding-top: 88px;
    padding-bottom: 100px;
    padding-left: 54px;
  }
  &__lnk{
    margin-top: 38px;
  }
}
.control{
  padding-top: 88px;
  padding-bottom: 100px;
  &__subtitle{
    max-width: 540px;
  }
  &__list{
    display: flex;
    justify-content: space-between;
    margin-right: -20px;
    margin-top: 42px;
    align-items: flex-start;
  }
  &__item{
    margin-right: 20px;
    width: calc(100% / 6);
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 18px 20px;
  }
  &__top{
    margin-right: -20px;
    width: calc(100% + 20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__image{
    display: flex;
    align-items: center;
    &:before{
      content: "";
      display: block;
      width: 58px;
      height: 58px;
      border-radius: 50%;
      background-color: #FFFFFF;
      margin-right: -28px;
    }
  }
  &__arrow{
    padding: 4px 5px;
    background-color: #FFFFFF;
  }
  &__content{
    font-size: 1.4rem;
    line-height: 2rem;
    color: #222222;
    margin-top: 16px;
    font-weight: 400;
  }
}
.footer{
  background-color: #222222;
  padding-top: 62px;
  &__container{

  }
  &__top{
    display: flex;
  }
  &__logo{
    margin-right: 98px;
  }
  &__subscribe{
    display: flex;
    &-desc{
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2.3rem;
      color: #FFFFFF;
      margin-right: 20px;
    }
  }
  input[type="submit"]{
    padding: 16px 20px;
    margin-left: 6px;
    border: none;
  }
  input[type="text"]{
    min-width: 334px;
    padding: 14px 18px;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #FFFFFF;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    background-color: transparent;
    &::placeholder{
      color: #FFFFFF;
    }
  }
  &__nav{
    margin-top: 58px;
    padding-bottom: 43px;
    nav{
      display: flex;
      width: 100%;
      justify-content: space-between;
      ul{
        margin-right: 43px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li{
          &:nth-child(even){
            margin-right: 69px;
          };
          margin-bottom: 17px;
          &:first-child{
            margin-bottom: 29px;
            width: 100%;
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 1.7rem;
            text-transform: uppercase;
            color: #FFFFFF;
          }
          a{
            font-size: 1.4rem;
            line-height: 100%;
            letter-spacing: 0.01em;
            color: #B3B3B3;
            font-weight: 400;
            text-decoration: none;
          }
        }
        &:nth-child(2){
          margin-right: 109px;
          li{
            width: 100%;
            margin-right: 0;
          }
        }
      }
    }
  }
  &__copyright{
    padding: 14px 20px 18px 20px;
    border-top: 1px solid rgba(255,255,255,0.1);
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
  }
}
.page-search-result{
  margin-top: 40px;
  @include customtable;
  form{
    @include search_fields;
  }
}